body{
	text-align:center;
	background: URL("../img/bg.jpg") center fixed;
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 110%; /**/
}

#content{
	width: 400px;
	position:absolute;
	left: 50%;
	top:30%;
	transform:translate(-50%,-50%);
	background-color:rgb(207, 207, 207,0.8);
	border-radius:10px;
	padding-bottom:30px;
	padding-top:15px;
}

#quizz{
	width: 500px;
	position:absolute;
	left: 50%;
	transform:translate(-50%);
	background-color:rgb(207, 207, 207,0.8);
	border-radius:10px;
	padding-bottom:30px;
	padding-top:15px;
}

.classement {
	background-color : lightblue ;
	margin-left:auto;
	margin-right:auto;
	width : 300px;
	border-radius:10px;
}

.classement  ol {
	background-color : red;	
	width:170px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}

form{
	display:inline;
}

input{
	text-align : center ; 
}

mark{
	background-color:red;
}

button{
    cursor:pointer;
	border-radius:10px;
	padding:10px;
	margin:20px;
	background-color: gray;
	color: #DDDDDD;
	border:none;
	font-size:15px;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

button:hover{
	background-color: #DDDDDD;
	color: gray;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
	transform:scale(1.1,1.1);
}

#redirection p a{
	color:blue;
	text-decoration: none;
	border-radius:5px;

}

#redirection p a:hover{
	color:red;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}


footer{
	background-color: rgb(207, 207, 207,0.4);
	height:250px;
}

footer table{
    margin-top: 500px;
    width: 100%;
    border-top: 1px solid black;
}

footer table p{
    border-bottom: 1px solid black ;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

footer table td {
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    width: 33%;
    text-align: center;
}

footer table td a{
    color: black;
	text-decoration:none;
}

footer table td a:hover, ion-icon:hover  {
    color: blue;
}

ion-icon {
	color:white;
	font-size: 30px;
}
