<div id="content">
    <h1>Connexion</h1>
    <p>{{msg}}</p>
    <form id="formulaire" onsubmit="return false" method="POST" action="">
        <label>Username:</label>
        <br>
        <input id="username" type="text" name="username" placeholder="Mettez votre username" onkeydown="border()"
               required>
        <br><br>
        <label>Mot de passe:</label>
        <br>
        <input id="mdp" type="password" name="mdp" placeholder="Mettez votre mot de passe" onkeydown="border2()"
               required>
        <br>
        <button onclick="verifier()">Se connecter</button>
    </form>
    <div id="redirection">
        <p>Toujours pas inscrit ? <a href="/register">Inscrivez-vous !</a></p>
    </div>
</div>