<div id="content">
    <h1>Inscription</h1>
    <form id="formulaire" onsubmit="return false" method="POST" action="">
        <label>Username:</label>
        <br>
        <input id="username" type="text" name="username" placeholder="Mettez un username" onkeydown="border()" required>
        <br><br>
        <label>Mot de passe:</label>
        <br>
        <input id="mdp" type="password" name="mdp" placeholder="Mettez un mot de passe" onkeydown="border2()" required>
        <br>
        <button onclick="verifier()">S'inscrire</button>
    </form>
    <div id="redirection">
        <p>Déjà inscrit ? <a href="/login">Connectez-vous !</a></p>
    </div>
</div>
